<!doctype html>
<html>
<head>

<title>Game Searcher</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='gIndex.css')}}">
<head>
<body>
	<div class="banner">
		<h1 id= "siteTitle"><a href="/">Game Searcher</a></h1>
		{% if not session %}
		<form class="bannerLogin" action="/login" method="GET">
        <button>Login</button>
         </form>
      {% endif %}
      
      {% if session %}
      <h3 id="userDisp">User: {{session['username']}}</h3>
        <form class="bannerLogin" action="/logout" method="GET">
        	<button>Logout</button>
      	</form>
      {% endif %}
	</div>
{% block body %}{% endblock %}
</body>
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
</html>
