<html>
  {% extends "layout.html" %} {% block body %}
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='gIndex.css')}}">

  </head>
      <div class="container">
      <h1>Please Register</h1>
      {{validUser}}
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      <form action="/" method="GET">
        <button>Go back</button>
      </form>
    </div>
{% endblock %}

</html>