@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans');

#siteTitle{
  color: #F7CE3E;
  font-family: 'Bungee', cursive;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
#siteTitle:hover{
    color: #D5AC1C;
    cursor: pointer;
}
h3{
  color:#1A2930;
}
h2{
  color:white;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding: 0;
}
.banner{
  position: absolute;
  height: 10%;
  background-color: #1A2930;
  top: 0;
  left:0;
  width: 100%;
  display: table;
}
#results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid #dddddd;
  border-top: 0;
  border-bottom: 0;
  width: 100%;
}
#results a { 
  color: inherit; 
  text-decoration: none;
  font-size: 12px;
  display: inline;
  margin-bottom: 5px;
}

#results li{
  color: black;
  background-color: white;

  padding: 0.5em 1em;
}
#results li:hover{
  background-color: #dddddd;
}
#results img {
  display: inline;
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.container{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
#sp {
  padding: 10px 0px 10px 5px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
button {
 background: #292929;
 background: linear-gradient(#393939, #292929);
 color: #5f5;
 outline: none;
}
