@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans');

#siteTitle{
  font-family: 'Bungee', cursive;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
#siteTitle a{
  color: #F7CE3E;
  text-decoration: none;
}
#siteTitle a:hover{
    color: #D5AC1C;
    cursor: pointer;
}
h3{
  text-align: center;
  color:#1A2930;
}
h2{
  color:white;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F4F4;
  padding: 0;
}
.banner{
  position: absolute;
  height: 10%;
  background-color: #1A2930;
  top: 0;
  left:0;
  width: 100%;
  display: table;
}
#results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid #dddddd;
  border-top: 0;
  border-bottom: 0;
  width: 100%;
}
#results a { 
  color: inherit; 
  text-decoration: none;
  font-size: 12px;
  display: inline;
  margin-bottom: 5px;
}
#results a:hover {
  text-decoration: underline;
}

#results li{
  color: black;
  background-color: white;

  padding: 0.5em 1em;
  display: block;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
#results li:hover{
  background-color: #dddddd;
}
#results img {
  display: inline;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin: 0 5px;
}
.container{
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -200px;
}
#sp {
  padding: 10px 0px 10px 5px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.bannerLogin {
  height: 100%;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
}
.bannerLogin button{
  color: #F7CE3E;
  background-color: #1A2930;
  font-size: 16px;
  font-family: 'Bungee', cursive;
}